/* Typography */
body {
    font-family: 'Montserrat', sans-serif;
}
p {
    padding-bottom: 8px;
    color: #8c8c8c;
    font-weight: 300;
    line-height: 22px;
}

/* Bullets */
ul {
    color: #8c8c8c;
    padding-bottom: 8px;
    font-weight: 300;
}

h1 {
    font-weight: 700;
    font-size: 36px;
    color: #003868;
    margin-top: 0;
}
h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 24px;
    color: #003868;
}
h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: #003868;
    margin-bottom: 0;
    line-height: 22px;
}
h4 {
    font-weight: 500;
    font-size: 18px;
    color: #333333;
    margin-bottom: 0;
    padding-bottom: 6px;
    padding-top: 10px;
}
a {
    color: #8c8c8c;
}
a:hover {
    text-decoration: none;
    color: #333;
}
a:visited, a:active, a:focus {
    text-decoration: none;
    color: #8c8c8c;
}
hr {
    padding-bottom: 10px;
}



/* Button */
.btn {
    color: #ccc;
}

.logo {
    max-width: 165px;
    height: auto;
}


/* White Navbar */
.navtop {
    font-size: 13px;
    color: #8c8c8c;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navtop a {
    color: #8c8c8c;
}
.navtop a:hover {
    color: #333333;
    text-decoration: none;
}

.nav > li > a:hover {
    background-color: transparent;
}

.navtop li:not(:last-child):before {
    margin-left: 5px;
    right: 5px;
    margin-top: 16px;
    content: " | ";
    display: inline-block;
    float: right;
    clear: none;
    color: #8c8c8c;
}


/* Navbar Button */
.navbar-right {
    margin-right: 15px;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #003868;
}

.navbar-inverse .navbar-toggle {
    text-transform: uppercase;
    border-color: #ffde00;
    background-color: #ffde00;
}
.navbar-inverse .navbar-toggle:hover {
    text-transform: uppercase;
    border-color: #ffde00;
    background-color: #ffde00;
}
.navbar-inverse .navbar-toggle:focus {
    text-transform: uppercase;
    background-color: #003868;
}
.navbar-inverse .navbar-toggle:active {
    text-transform: uppercase;
    color: #ffde00;
    background-color: #003868;
}
.navbar-inverse .navbar-nav .active  a {
    text-transform: uppercase;
    color: #ffde00;
    background-color: #003868;
}

.navbar-inverse .navbar-nav  .active  a:hover {
    text-transform: uppercase;
    color: #ffffff;
    background-color: #003868;
}

.navbar-nav  li {
    text-transform: uppercase;
}

/* Blue Navbar */
.navbar-inverse {
    color: #fff;
    font-size: 15px;
    background-color: #003868;
    border: none;
    border-radius: 0;
    margin: 0;
}
.navbar-inverse .navbar-nav li a {
    color: #fff;
}
.navbar-inverse .navbar-nav li a:hover {
    color: #ffde00;
}

.navbar-right .dropdown-menu {
    right: auto;
    left: 0;
    
}
@media (min-width: 768px) {
    
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 0;
    }
}

.navbar-nav > li > .dropdown-menu {
    z-index: 10000;
    margin-top: 15px;
}
/* Padding & Margin */
.padtop20 {
    padding-top: 20px;
}
.padtop40 {
    padding-top: 40px;
}
.padbottom20 {
    padding-bottom: 20px;
}
.pad20 {
    padding: 20px 0;
}
.pad100 {
    padding: 100px 0;
}

.mt-10 {
    margin-top: 10px;
}
.marginbottom30 {
    margin-bottom: 30px;
}

#license img {
    margin: 20px;
    display: inline-block;
    position: relative;
    border: 1px solid #dedede;
}

.margintop20 {
    margin-top: 20px;
}

.margintop40 {
    margin-top: 40px;
}
.padding-0 {
    padding: 0;
}

/* Floats */
.left {
    float: left;
}
.right {
    float: right;
}

#services h3 a:link {
    color: #003868;
}

#services h3 a:hover {
    color: #ffde00;
}

#services h3 a:visited {
    color: #003868;
}
#services p {
    text-align: center;
}

/* Images */
.img-center {
    margin: auto;
}



/* Dropdown Menu */
.dropdown-menu {
    background-color: #fff;
    border: none;
    border-radius: 0;
}
.navbar-inverse .navbar-nav .open a, .navbar-inverse .navbar-nav .open a:hover, .navbar-inverse .navbar-nav .open a:focus {
    background-color: #003868;
    color: #ffde00;
}
.navbar-inverse .navbar-nav .dropdown-menu li a {
    color: #8c8c8c;
    background-color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
    background-color: #dedede;
}
.navbar-inverse .navbar-nav .open .dropdown-menu li a:hover{
    background-color: #dedede;
    color: #8c8c8c;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border: none;
}

@media (max-width: 768px) {
    .navbar-inverse .navbar-nav .dropdown-menu li a {
        background-color: #003868;
        color: #ffffff !important;
    }
    
    .navbar-inverse .navbar-nav .dropdown-menu li a:hover {
        background-color: #dedede;
        color: #003868 !important;
        }
    }
}

/* Color Change */
.ltgray {
    color: #dedede;
}

/* Horizontal Spacer */
.horizontalspacer {
    display: inline-block;
    width: 10px;
}



/* Fine Print */
.fineprint {
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}
.fineprint a:hover{
    color: #333333;
}



/* Blueprint */
.headerblueprint {
    background-color: #444;
    margin-bottom: 0px;
    min-height: 140px;
    background-image: url('../assets/img/header.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    /* border-bottom: 1px solid #003868; */
}
@media only screen and (max-width: 767px) {
  .headerblueprint {
    min-height: 70px;
  }
}


/* Image Outline */
.outlined {
    border: 1px solid #dedede;
}
.rounded {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
}

.col-centered {
    float: none;
    margin-right: auto;
    margin-left: auto;
}


/* Footer */
footer {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fff;
}

footer a:link {
    text-decoration: none;
    color: #8c8c8c;
}

footer a:hover, footer li a:hover {
    text-decoration: none;
    color: #003868;
}

footer a:visited, a:active, a:focus {
    text-decoration: none;
    color: #8c8c8c;
}
footer ul {
    text-align: center;
    color: #003868;
    margin: 0 auto;
}

footer li{
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    display: inline;
    list-style-type: none;
    color: #8c8c8c;
}


@media (min-width: 768px) and (max-width: 991px) {
    footer ul {
        text-align: center;
        margin: 0 auto;
    }
    footer li:not(:last-child):after {
        margin-top: 16px;
        list-style-type: none;
        clear: both;
    }
}

@media (min-width: 1200px) {
    footer li:not(:last-child):after {
        margin-left: 20px;
        margin-right:20px;
        margin-top: 16px;
        list-style-type: none;
        content: "|";
        display: inline;
        color: #8c8c8c;
    }
}

/*Suppliers Section*/

#suppliers img {
    border: 1px solid #dedede;
    moz-border-radius: 4px; /* FF1+ */
    -webkit-border-radius: 4px; /* Saf3-4, iOS 1+, Android 1.5+ */
    border-radius: 4px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    text-align: left;
    width: 150px;
    height: auto;
}

@media (min-width: 768px) and (max-width: 991px) {
	#suppliers img {
		border: 1px solid #dedede;
		moz-border-radius: 4px; /* FF1+ */
		-webkit-border-radius: 4px; /* Saf3-4, iOS 1+, Android 1.5+ */
		border-radius: 4px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
		margin-top: 20px;
		margin-right: 20px;
		margin-bottom: 20px;
		margin-left: 20px;
		text-align: left;
		width: 150px;
		height: auto;
	}
}

#suppliers img:nth-child(1) {
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: -15px;
}


/* Carousel */
.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    background-image: none;
}
#carousel-example-generic {
    margin: 0;
    padding: 0;
}
.carousel {
    /* -moz-border-radius: 4px; /* FF1+ */
    /* -webkit-border-radius: 4px; /* Saf3-4, iOS 1+, Android 1.5+ */
    /* border-radius: 4px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
    overflow:hidden;
    z-index: 1000;
    /* border: 1px solid #dedede; */
}
.carousel-caption {
    background-color: #fff;
    -moz-border-radius: 4px; /* FF1+ */
    -webkit-border-radius: 4px; /* Saf3-4, iOS 1+, Android 1.5+ */
    border-radius: 4px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
    text-shadow: none;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    width: 400px;
}
#myCarousel {
    z-index: -1;
}



/* Form */
.control-label {
    font-weight: 500;
}



/* Video Player */

.js-video {
    height: 0;
    padding-top: 25px;
    padding-bottom: 67.5%;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.js-video.widescreen {
    padding-bottom: 56.34%;
}

.js-video.vimeo {
    padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

/* Forms */

.gform_wrapper ul {
    padding-left: 0;
    list-style: none;
}

.gform_wrapper li {
    margin-bottom: 15px;
}

.gform_wrapper form {
    margin-bottom: 0;
}

.gform_wrapper .gfield_required {
    padding-left: 1px;
    color: #333;
}

.ginput_container input, .ginput_container select, .ginput_container textarea {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.ginput_container input:-moz-placeholder, .ginput_container select:-moz-placeholder, .ginput_container textarea:-moz-placeholder {
    color: #999999;
}

.ginput_container input::-moz-placeholder, .ginput_container select::-moz-placeholder, .ginput_container textarea::-moz-placeholder {
    color: #999999;
}

.ginput_container input:-ms-input-placeholder, .ginput_container select:-ms-input-placeholder, .ginput_container textarea:-ms-input-placeholder {
    color: #999999;
}

.ginput_container input::-webkit-input-placeholder, .ginput_container select::-webkit-input-placeholder, .ginput_container textarea::-webkit-input-placeholder {
    color: #999999;
}

.ginput_container input:focus, .ginput_container select:focus, .ginput_container textarea:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.ginput_container input[disabled], .ginput_container select[disabled], .ginput_container textarea[disabled], .ginput_container input[readonly], .ginput_container select[readonly], .ginput_container textarea[readonly], fieldset[disabled] .ginput_container input, fieldset[disabled] .ginput_container select, fieldset[disabled] .ginput_container textarea {
    cursor: not-allowed;
    background-color: #eeeeee;
}

textarea.ginput_container input, textarea.ginput_container select, textarea.ginput_container textarea {
    height: auto;
}

.ginput_container textarea {
    height: auto;
}

.gform_button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #333;
    background-color: #ffffff;
    border-color: #cccccc
}

.gform_button:focus {
    outline: thin dotted #333333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.gform_button:hover, .gform_button:focus {
    color: #333333 !important;
    background-color: #e6e6e6 !important;
    border-color: #cccccc !important;
    text-decoration: none;
}

.gform_button:active, .gform_button.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.gform_button.disabled, .gform_button[disabled], fieldset[disabled] .gform_button {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.gform_button:hover, .gform_button:focus, .gform_button:active, .gform_button.active, .open .dropdown-toggle.gform_button {
    color: #ffffff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.gform_button:active, .gform_button.active, .open .dropdown-toggle.gform_button {
    background-image: none;
}

.gform_button.disabled, .gform_button[disabled], fieldset[disabled] .gform_button, .gform_button.disabled:hover, .gform_button[disabled]:hover, fieldset[disabled] .gform_button:hover, .gform_button.disabled:focus, .gform_button[disabled]:focus, fieldset[disabled] .gform_button:focus, .gform_button.disabled:active, .gform_button[disabled]:active, fieldset[disabled] .gform_button:active, .gform_button.disabled.active, .gform_button[disabled].active, fieldset[disabled] .gform_button.active {
    background-color: #428bca;
    border-color: #357ebd;
}

.gform_wrapper .gfield_error .gfield_label {
    color: #333;
}

label.gfield_label {
    color: #333333;
}

.gform_wrapper .gfield_error input, .gform_wrapper .gfield_error select, .gform_wrapper .gfield_error textarea {
    border-color: #eed3d7;
    background-color: #f2dede;
    color: #b94a48;
}

.gform_wrapper .gfield_error input:focus, .gform_wrapper .gfield_error select:focus, .gform_wrapper .gfield_error textarea:focus {
    border-color: #b94a48;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(185, 74, 72, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(185, 74, 72, 0.6);
}

.validation_error {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}

.validation_error h4 {
    margin-top: 0;
    color: inherit;
}

.validation_error .alert-link {
    font-weight: bold;
}

.validation_error > p, .validation_error > ul {
    margin-bottom: 0;
}

.validation_error > p + p {
    margin-top: 5px;
}

.validation_error hr {
    border-top-color: #e6c1c7;
}

.validation_error .alert-link {
    color: #953b39;
}

#gforms_confirmation_message {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

#gforms_confirmation_message h4 {
    margin-top: 0;
    color: inherit;
}

#gforms_confirmation_message .alert-link {
    font-weight: bold;
}

#gforms_confirmation_message > p, #gforms_confirmation_message > ul {
    margin-bottom: 0;
}

#gforms_confirmation_message > p + p {
    margin-top: 5px;
}

.gallery-row {
    padding: 15px 0;
}

.aligncenter {
    display: block;
    margin: 0 auto;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

figure.alignnone {
    margin-left: 0;
    margin-right: 0;
}

/* Testimonials */
.testimonial_rotator_wrap {
    margin: 20px 10px;
    padding: 10px;
    overflow: visible;
    position: relative;
}